@using EntityLayer.Entities
@model List<SocialMedia>

<div class="bottom-social-w3ls w3ls-social-icons">
	@foreach (var item in Model)
	{
		<a class="@item.Title" href="@item.Url" target="_blank"><i class="@item.Icon"></i></a>
	}
</div>