﻿@using EntityLayer.Entities
@model List<Contact>

<div class="row">
    <div class="col-md-12 stretch-card">
        <div class="card">
            <div class="card-body">
                <p class="card-title">Last Messages</p>
                <div class="table-responsive">
                    <table id="recent-purchases-listing" class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name-Surname</th>
                                <th>Mail</th>
                                <th>Date</th>
                                <th>Open Message</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.ContactID</td>
                                    <td>@item.Name</td>
                                    <td>@item.Mail</td>
                                    <td>@item.Date</td>
                                    <td><a href="/Contact/MessageDetails/@item.ContactID" class="btn btn-primary">Open Message</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>