@model EntityLayer.Entities.SliderLogo
@{
    ViewData["Title"] = "AddSliderLogo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="col-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Add New SliderLogo</h4>
            <div asp-validation-summary="All" class="text-danger"></div>
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Upload Logo Image</label>
                    <br />
                    <span asp-validation-for="ImageFileLogo" class="text-danger"></span>
                    <input type="file" class="form-control" asp-for="ImageFileLogo">
                </div>
                <input type="hidden" asp-for="ImageUrlLogo" />
                <div class="form-group">
                    <label>Upload Slider Image</label>
                    <br />
                    <span asp-validation-for="ImageFileSlider" class="text-danger"></span>
                    <input type="file" class="form-control" asp-for="ImageFileSlider">
                </div>
                <input type="hidden" asp-for="ImageUrlSlider" />
                <div class="form-group">
                    <label>Upload PopUp Image</label>
                    <br />
                    <span asp-validation-for="ImageFilePopUp" class="text-danger"></span>
                    <input type="file" class="form-control" asp-for="ImageFilePopUp">
                </div>
                <input type="hidden" asp-for="ImageUrlPopUp" />
                <div class="form-group">
                    <label>Slider Title</label>
                    <br />
                    <input type="text" class="form-control" asp-for="SliderTitle">
                </div>
                <div class="form-group">
                    <label>Slider Description</label>
                    <br />
                    <input type="text" class="form-control" asp-for="SliderDescription">
                </div>
                <div class="form-group">
                    <label>PopUp Title</label>
                    <br />
                    <input type="text" class="form-control" asp-for="PopUpTitle">
                </div>
                <div class="form-group">
                    <label>PopUp Sub Title</label>
                    <br />
                    <input type="text" class="form-control" asp-for="PopUpSubTitle">
                </div>
                <div class="form-group">
                    <label>PopUp Description</label>
                    <br />
                    <input type="text" class="form-control" asp-for="PopUpDescription">
                </div>
                <button type="submit" class="btn btn-outline-info">Save</button>
                <a href="/SliderLogo/Index/" class="btn btn-outline-warning">Cancel</a>
            </form>
        </div>
    </div>
</div>