
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Excel Reports</h1>
<br />
<br />
<a href="/Report/StaticReport/" class="btn btn-outline-info">Static Reports</a>
<br />
<br />
<a href="/Report/ContactReport/" class="btn btn-outline-primary">Message Reports</a>
<br />
<br />
<a href="/Report/AnnouncementReport/" class="btn btn-outline-primary">Announcement Reports</a>

