<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/Dashboard/Index/">
                <i class="mdi mdi-home menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/SliderLogo/Index/">
                <i class="mdi mdi-image-outline menu-icon"></i>
                <span class="menu-title">Slider & Logo</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Service/Index/">
                <i class="mdi mdi-circle-outline menu-icon"></i>
                <span class="menu-title">Services</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Team/Index/">
                <i class="mdi mdi-view-headline menu-icon"></i>
                <span class="menu-title">Team Members</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Chart/Index/">
                <i class="mdi mdi-chart-pie menu-icon"></i>
                <span class="menu-title">Charts</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Announcement/Index/">
                <i class="mdi mdi-format-annotation-minus menu-icon"></i>
                <span class="menu-title">Announcements</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Contact/Index/">
                <i class="mdi mdi-message menu-icon"></i>
                <span class="menu-title">Messages</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Address/Index/">
                <i class="mdi mdi-map menu-icon"></i>
                <span class="menu-title">Address</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Gallery/Index/">
                <i class="mdi mdi-image menu-icon"></i>
                <span class="menu-title">Gallery Images</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Report/Index/">
                <i class="mdi mdi-file-document menu-icon"></i>
                <span class="menu-title">Report</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Profile/Index/">
                <i class="mdi mdi-file-document menu-icon"></i>
                <span class="menu-title">Settings</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/Login/Logout/">
                <i class="mdi mdi-file-document menu-icon"></i>
                <span class="menu-title">Logout</span>
            </a>
        </li>
    </ul>
</nav>