@model EntityLayer.Entities.Contact

<div class="col-md-9 contact-middle">
	<h2>Say Hello</h2>
	@using(Html.BeginForm("SendMessage", "Default", FormMethod.Post))
	{
		<form method="post">
			<div class="form-agileinfo">
				<p>Name</p>
				<input type="text" asp-for="Name" placeholder="Your name" required="" />
				<p>Email</p>
				<input type="email" asp-for="Mail" placeholder="Your email" required="" />
			</div>
			<div class="form-agileits-w3layouts">
				<p>Comments</p>
				<textarea asp-for="Message" placeholder="Your message" required=""></textarea>
				<input type="submit" value="Send Message">
			</div>
			<div class="clearfix"></div>
		</form>
	}
</div>